@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

nav {
  box-shadow: 0px 10px 20px rgb(0 0 0 / 56%);
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(113, 235, 145, 1) 15%,
    rgba(113, 235, 229, 1) 69%
  );
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  background-size: cover;
  background-position: top;
}

.text-box {
  width: 90%;
  color: #39393a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.text-box h1 {
  font-size: 80px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 25px;
  color: inherit;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #39393a;
  border: 3px solid #eb9486;
  padding: 12px 34px;
  font-size: 25px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: all 1.5s;
}
.hero-btn:hover {
  border: 3px solid;
  background: #baa5ff;
  text-decoration: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 37px;
  }
  .text-box p {
    font-size: 18px;
  }
  .hero-btn {
    font-size: 16px;
    padding: 12px 22px;
  }
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.navbar .navbar-nav .nav-link:hover {
  color: #000000;
  text-decoration: none;
}

.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 1.1em;
}
@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000000;
  width: 0%;
  content: '';
  height: 4px;
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}
.navbar .navbar-nav .nav-item::after {
  transition: all 0.5s;
}
.navbar-navbar-navbar {
  background-image: linear-gradient(
    90deg,
    rgba(113, 235, 145, 1) 15%,
    rgba(113, 235, 229, 1) 69%
  );
  background-size: cover;
  background-position: top;
}

.wecontactyou {
  position: absolute;
  top: 0;
  left: 0;
}

.feature-box {
  background-image: linear-gradient(
    to bottom right,
    rgba(113, 235, 145, 1) 15%,
    rgba(113, 235, 229, 1) 69%
  );
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(
    90deg,
    rgba(113, 235, 145, 1) 15%,
    rgba(113, 235, 229, 1) 69%
  );
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.heading-secondary {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    90deg,
    rgba(113, 235, 145, 1) 15%,
    rgba(113, 235, 229, 1) 69%
  );
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
  text-align: center;
  letter-spacing: 02px;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.heading-tertiary {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #39393a;
}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.section-about {
  background-color: #f7f7f7;
  clip-path: polygon(0 0, 100% 0, 100% 115vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  background-size: cover;
  background-position: top;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}
