<section class="how-we-work" id="how-we-work">
  <h1>HOW WE WORK</h1>
  <p class="this-is-how-your">THIS IS HOW YOUR BOT IS MADE!</p>
  <div class="how-we-work-row">
    <div class="how-we-work-col">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="how-we-work-icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"
        />
      </svg>
      <h2>IDEA</h2>
      <p>
        We get the ideas from our clients for the bots that they want us to
        make. Note you have to send a form response in order to tell us about
        your idea. This includes <b>all features</b> you want your bot to have
        and any specific details you want us to know about.
      </p>
    </div>
    <div class="how-we-work-col">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="how-we-work-icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
        />
      </svg>
      <h2>WORK</h2>
      <p>
        We then, put on our thinking caps and start working on the ideas. Just
        know that we are very experienced guys and will get your bot idea made.
        We might contact you while working, to check with any details about your
        bot. This time depends on the bot you want and the deadline you have
        given.
      </p>
    </div>
    <div class="how-we-work-col">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="how-we-work-icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0"
        />
      </svg>
      <h2>DELIVER</h2>
      <p>
        We then go through a thorough testing process for any bugs and finally
        deliver the bot to the client and recieve the payments. You are informed
        about the prices at the start of the project. We share the code of the
        bot and try to make our code user friendly, so that you can change /
        update it.
      </p>
    </div>
  </div>
</section>
