<section class="features">
    <h1>Our cool features</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt velit excepturi saepe eaque dolore vitae dolor, earum id delectus dignissimos unde inventore molestiae quo! Laborum magni fugiat aliquam omnis!</p>

    <div class="features-row">
        <div class="features-col">
            <img src="/img/lb.png" alt="" srcset="">
            <h4>Leaderboards</h4>
            <p>Get global leaderboards for money, messages sent, or commands used, or any other category</p>
        </div>
        <div class="features-col">
            <img src="/img/lb.png" alt="" srcset="">
            <h4>Leaderboards</h4>
            <p>Get global leaderboards for money, messages sent, or commands used, or any other category</p>
        </div>
        <div class="features-col">
            <img src="/img/lb.png" alt="" srcset="">
            <h4>Leaderboards</h4>
            <p>Get global leaderboards for money, messages sent, or commands used, or any other category</p>
        </div>
    </div>

</section>