<section class="features">
  <h1>Most Popular Features</h1>
  <div class="features-row">
    <div class="features-col">
      <div class="card">
        <div class="card-side card-side-front">
          <h4 class="card-heading">Economy System</h4>
          <div class="card-details">
            <p>Several commands to have fun</p>
            <p>Games to earn money</p>
            <p>Code given to upgrade</p>
            <p>Bot with buttons, dropdowns and more</p>
          </div>
        </div>
        <div class="card-side card-side-back card-side-back-1">
          <div class="card-price-box">
            <div class="card-price-only">Only</div>
            <div class="card-price-value">$5</div>
          </div>
          <a href="/idea" class="">Get Your Discord Bot Now!</a>
        </div>
      </div>
    </div>

    <div class="features-col">
      <div class="card">
        <div class="card-side card-side-front">
          <h4 class="card-heading">Level System</h4>
          <div class="card-details">
            <p>Manages Levels and Ranks</p>
            <p>Connected to Database (Extra Charges)</p>
            <p>Code given to you for upgrades</p>
            <p>Bot with buttons, dropdowns and more</p>
          </div>
        </div>
        <div class="card-side card-side-back card-side-back-1">
          <div class="card-price-box">
            <div class="card-price-only">Only</div>
            <div class="card-price-value">$5</div>
          </div>
          <a href="/idea" class="">Get Your Discord Bot Now!</a>
        </div>
      </div>
    </div>

    <div class="features-col">
      <div class="card">
        <div class="card-side card-side-front">
          <h4 class="card-heading">Game System</h4>
          <div class="card-details">
            <ul>
              <p>Several Games to keep user enjoyed</p>
              <p>Tictactoe, cricket, highlow and more</p>
              <p>Code given to upgrade</p>
              <p>Buttons, dropdowns and more</p>
            </ul>
          </div>
        </div>
        <div class="card-side card-side-back card-side-back-1">
          <div class="card-price-box">
            <div class="card-price-only">Only</div>
            <div class="card-price-value">$7</div>
          </div>
          <a href="/idea" class="">Get Your Discord Bot Now!</a>
        </div>
      </div>
    </div>
  </div>
</section>
