
<nav
  class="navbar navbar-expand-lg navbar-light fixed-top navbar-navbar-navbar" id="our-own-navbar"
>
  <a class="navbar-brand" href="/#" style="font-family: 'Titillium Web', sans-serif; font-size: 30px">We Make Bots</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggler9"
    aria-controls="navbarToggler9"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content:right" id="navbarToggler9">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#how-we-work">How We Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
    </ul>
  </div>
</nav>
